table {
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
  font-size: 18px;
  min-width: 992px;
  overflow: auto;
}

tr {
  border-bottom: 1px solid #a9a9a9;

  &:last-child {
    border-bottom: 0;
  }
}
th,
td {
  /* border: 1px solid #000; */
  padding: 20px;
  text-align: center;
}

th:first-child,
td:first-child {
  padding: 20px 0;
  text-align: left;
}

th:last-child,
td:last-child {
  padding: 20px 0;
}

.productImage {
  background: url("https://i.ibb.co/QdJwgmp/brown-cowboy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 250px;
}

tr td.total {
  text-align: right;
}

.arrow {
  font-size: 20px;
  cursor: pointer;
}

.quantity {
  padding: 0 10px;
}

.remove-icon {
  font-weight: 700;
  cursor: pointer;
}

tr td.total {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 50px;
  padding: 50px 20px 0 0;
}
